<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="error-page-area text-center default-padding">
    <div class="container">
        <div class="error-box" style="padding-top: 100px;">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                        <img src="" alt="">
                        <!-- <p>Похоже ничего нет :(</p> -->
                        <p class="product-price">Похоже ничего нет :(</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>